.wrapper {
  display: flex;
  border-color: black;
  height: 150px;
  align-items: center;
  justify-items: center;
  width: min-content;
}

.single_dice {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: none;
  background-color: rgb(255, 139, 216);
  border-radius: 10px;
  margin: 20px;
  height: 100px;
  width: 100px;
  border: solid white;
  box-shadow: 4px 4px white;
}

.single_dice > p {
  margin: 0;
  font-size: 30pt;
}

.popup-message {
  font-size: 12pt;
}

.pointer {
  cursor: pointer;
  user-select: none;
}
