button,
input[type="submit"] {
  background: none;
  color: white;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  box-shadow: 4px 4px white;
  padding: 2px;
  margin: 0 30px 20px;
  border: solid white;
  border-width: 2px;
  width: 200px;
  background-color: rgb(255, 139, 216);
  text-shadow: 3px 3px 3px black;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black;
}

input[type="text"],
[type="number"] {
  font-family: inherit;
  margin: 5px;
  height: 40px;
  width: 200px;
  border-radius: 3px;
  border: none;
  background-color: rgb(255, 139, 216);
}

textarea:focus,
input:focus {
  outline: none;
  box-shadow: 0 0 40px 20px #fff, 0 0 60px 30px #f0f;
}

input[type="number"] {
  width: 70px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  height: 40px;
}

.player-name-form {
  width: inherit;
}

.player-name {
  margin: 10px;
}

.radio input {
  /* position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 15px;
  width: 15px; */
  border-radius: 50%;
}

.radio input:checked {
  border-radius: 50%;
  background-color: #2196f3;
}
