.pop-up-message {
  word-wrap: break-word;
  width: 500px;
  height: 80px;
  /* height: 50px; */
  background-color: rgb(255, 139, 216);
  border-radius: 10px;
  margin: 20px;
  border: solid white;
  box-shadow: 4px 4px white;
  padding: 10px;
}

.popup-div {
  height: 130px;
}
